ErrorDocument 401 ../404.shtml
RewriteEngine On
RewriteRule ^siralama(.*)$ /php-dosyalari/siralama.php [L]
RewriteRule ^alim(.*)$ /php-dosyalari/alim.php [L]
RewriteRule ^kurallar(.*)$ /php-dosyalari/kurallar.php [L]
RewriteRule ^ara/siralama/([0-9a-zA-Z-_]+)(/?)$ /php-dosyalari/siralama-oyuncu.php?username=$1 [L]
RewriteRule ^market/satinal/([0-9]+)(/?)$ /php-dosyalari/satinal.php?id=$1 [L]
RewriteRule ^sayfa/([0-9]+)(/?)$ /php-dosyalari/sayfa.php?s=$1 [L]
RewriteRule ^haber/([0-9]+)(/?)$ /php-dosyalari/haber.php?id=$1 [L]
RewriteRule ^market/hata(.*)$ /php-dosyalari/hata_market.php [L]
RewriteRule ^market/basarisiz(.*)$ /php-dosyalari/basarisiz_market.php [L]
RewriteRule ^market/basarili(.*)$ /php-dosyalari/basarili_market.php [L]
RewriteRule ^market/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)(/?)$ /php-dosyalari/kategori.php?sunucu=$1&kategori=$2 [L]
RewriteRule ^market/([0-9a-zA-Z-_]+)(/?)$ /php-dosyalari/sunucu.php?sunucu=$1 [L]
RewriteRule ^market(.*)$ /php-dosyalari/market.php [L]
RewriteRule ^kredi/kart(.*)$ /php-dosyalari/kredi.php?m=kart [L]
RewriteRule ^kredi/mobil(.*)$ /php-dosyalari/kredi.php?m=mobil [L]
RewriteRule ^kredi/odeme/mobil(.*)$ /php-dosyalari/kredivermobil.php [L]
RewriteRule ^kredi/odeme/kart(.*)$ /php-dosyalari/krediverkart.php [L]
RewriteRule ^kredi(.*)$ /php-dosyalari/kredi.php [L]
RewriteRule ^destek/gonderildi(.*)$ /php-dosyalari/gonderildi.php [L]
RewriteRule ^destek/sil/([0-9]+)(/?)$ /php-dosyalari/destek-sil.php?id=$1 [L]
RewriteRule ^destek/olustur(.*)$ /php-dosyalari/destek-olustur.php [L]
RewriteRule ^destek/goruntule/([0-9]+)(/?)$ /php-dosyalari/destek-goruntule.php?id=$1 [L]
RewriteRule ^destek(.*)$ /php-dosyalari/destek.php [L]
RewriteRule ^kayit(.*)$ /php-dosyalari/kayit.php [L]
RewriteRule ^sorgu/ara/([0-9a-zA-Z-_]+)(/?)$ /php-dosyalari/sorgu-goster.php?username=$1 [L]
RewriteRule ^sorgu(.*)$ /php-dosyalari/sorgu.php [L]
RewriteRule ^profil/ara/([0-9a-zA-Z-_]+)(/?)$ /php-dosyalari/oyuncu.php?oyuncu_yola=$1 [L]
RewriteRule ^profil/sifre/degistir(.*)$ /php-dosyalari/sifredegis.php [L]
RewriteRule ^sifre/yonlendir(.*)$ /php-dosyalari/sifre-yonlendir.php [L]
RewriteRule ^sifre/sifirla(.*)$ /php-dosyalari/sifre-sifirla.php [L]
RewriteRule ^sifre/degistir/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)(/?)$ /php-dosyalari/sifre_degistir.php?user=$1&token=$2 [L]
RewriteRule ^profil/duzenle(.*)$ /php-dosyalari/pduzenle.php [L]
RewriteRule ^profil/email(.*)$ /php-dosyalari/emaildegistir.php [L]
RewriteRule ^profil(.*)$ /php-dosyalari/profil.php [L]
RewriteRule ^indir(.*)$ /php-dosyalari/indir.php [L]
RewriteRule ^girisyapmalisin(.*)$ /php-dosyalari/girisyapmalisin.php [L]
RewriteRule ^giris(.*)$ /php-dosyalari/giris.php [L]
RewriteRule ^basarili(.*)$ /php-dosyalari/basarili.php [L]
RewriteRule ^basarisiz(.*)$ /php-dosyalari/basarisiz.php [L]
RewriteRule ^cikis(.*)$ /php-dosyalari/cikis.php [L]
RewriteRule ^bulunamadi(.*)$ /php-dosyalari/404.php [L]
RewriteRule ^yetkililer(.*)$ /php-dosyalari/yetkililer.php [L]
RewriteCond %{HTTP_USER_AGENT} ^.*Ants.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*attach.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*autoemailspider.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BackWeb.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Bandit.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Buddy.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*CherryPicker.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*CherryPickerElite.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Copier.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Crawler.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Collector.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*DA.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*DiaGem.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Downloader.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Drip.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*eCatch.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EirGrabber.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailCollector.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailExtractor.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailSiphon.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailWolf.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ExtractorPro.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EyeNetIE.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*FileHound.*$
RewriteCond %{HTTP_USER_AGENT} ^.*FlashGet.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*GetRight.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Gets.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*gotit.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Grabber.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*GrabNet.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Grafula.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Go-Ahead-Got-It.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Go!Zilla.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*HMView.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*HTTrack.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*IBrowse.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*lftp.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*InterGET.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Iria.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JetCar.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JOC.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JustView.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*leech.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*likse.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Likse.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LNSpiderguy.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Magnet.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mag-Net.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Memo.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mirror.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Navroad.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NearSite.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NetSpider.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NICErsPro.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Ninja.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Nutsack.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Offline.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*PageGrabber.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*pcBrowser.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Pockey.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Pump.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Reaper.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Recorder.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ReGet.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Siphon.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Slurp.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SmartDownload.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Snagger.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Snake.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SpaceBison.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Stripper.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Sucker.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperBot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperHTTP.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Surfbot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*tAkeOut.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Teleport.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Vacuum.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebAuto.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebCollector.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebCopier.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebFetch.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebReaper.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebSauger.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Webster.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebStripper.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebWhacker.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebZIP.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Wget.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Whacker.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Widow.*$ [OR]
RewriteRule ^.* - [F]
